@media  screen and (width<1150px) {
    .links{
        display: none;
    }
    .navbar .hamburger{
        display:flex;
        position: relative;

        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 5px #b9b8b8;
        .logo{
            padding: 0;
        }
        .logo{
            transform: scale(0.8);
        } 
    }
    .dark .hamburger, .dark .theme-icon-cont {
        background-color: rgb(10, 10, 10);
    }
}

@media screen and (width < 1010px) {
    .navbar{
        margin: 3rem 2rem;
    }
    .about{
        gap: 1rem;
        .pic{
            img{
                width: 300px;
            }
        }
        .info{
            gap: 0.2rem;
        }
    }
    .section:first-of-type{
        padding: 0 1rem;
    }

    .project-cont{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}

@media screen and (width<780px){
    .navbar{
        margin: 2rem;
    }
    .about{
        flex-direction: column;
        .pic{
            text-align: center;
        }
        .info{
            gap:0;
        }
    }
    .contact .contact-box{
        padding: 2rem;
    }
}

@media screen  and (width<630px){
    .navbar{
        margin: 0;
        h1{
            display: none;
        }
        .hamburger{
            transition: all 0s;
            position: fixed;
            top: 1.5rem;
            right: 1.5rem;  
        }
        .theme-icon-cont{
            position: fixed;
            top: 1.5rem;
            right: 5.5rem;
            background-color: white;
        }

        
    }
    .section:first-of-type{
        height: 100vh;
    }

    .contact-box{
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .edu-cont{
        flex-direction: column !important;
        
    }

    .section{
        padding: 0 2rem ;
    }

    .dark .hamburger, .dark .theme-icon-cont {
        background-color: rgb(10, 10, 10);
    }
}

@media screen and (width<462px){
        .info{
            margin-top: 1rem;
            h1{
                font-size: 2rem;
            }
        }
        .button-cont{
            .btn{
                margin: 1rem 0.2rem;
            }
        }

        .skills{
            .btn2{
                margin: 4px;
                padding: 8px 12px;
            }
        }

        .project-box{
            width: 340px;
            height: 530px;
        }

        .contact .contact-box{
            gap: 1rem;
            padding: 1rem
        }
}