@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: rgb(80, 80, 80);
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;

    .logo {
        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            color: rgb(80, 80, 80);
            cursor: default;
        }
    }

    .links {
        ul {
            list-style: none;
            display: flex;
            gap: 1.5rem;

            a {
                font-size: 1.6rem;
                text-decoration: none;
                color: rgb(80, 80, 80);
                font-weight: 450;

                &:hover {
                    color: grey;
                    text-decoration: underline;
                    text-underline-offset: 1rem;

                }
            }

        }
    }


    .hamburger {
        display: none;

        span:first-child {
            transition: all 0.5s;
        }

        span:last-child {
            transition: all 0.5s;
        }

        .logo {
            padding: 0.6rem;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
                display: block;
                width: 25px;
                height: 3px;
                background-color: rgb(80, 80, 80);
            }

        }

        .ham-links {
            position: absolute;
            top: 100%;
            right: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            margin: 8px 0;
            border-radius: 8px;
            background-color: rgb(241, 241, 241);

            ul {
                padding: 1rem;
                list-style: none;

                li {
                    text-align: center;
                }

                a {
                    display: block;
                    padding: 0.5rem 0.8rem;
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: rgb(80, 80, 80);
                    font-weight: 450;

                    &:hover {
                        color: grey;
                    }
                }

            }
        }

        .open {
            max-height: 300px;
        }
    }

    .hamburger.open {
        span:first-child {
            transform: translate(0px, 7px) rotate(45deg);
            transition: all 0.5s;
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:last-child {
            transform: translate(0px, -9px) rotate(-45deg);
            transition: all 0.5s;
        }
    }
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.section:nth-of-type(2) {
    >div {
        margin: 3rem 0;
        max-width: 950px;
    }
}

.section:first-of-type {
    height: calc(100vh - 156px);
    min-height: fit-content;
    margin: 0;
}

.about {
    display: flex;
    gap: 5rem;
    width: fit-content;
    transition: gap 0.4s;
}


.pic img {
    width: 400px;
    border-radius: 50%;
    transition: width 0.4s;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.info p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray);
}

.info svg {
    width: 35px;
    height: 35px;
}

.info h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.info span {
    color: var(--gray);
    font-weight: 500;
    font-size: 1.3rem;
}

.btn {
    border-radius: 30px;
    background-color: white;
    font-size: 1rem;
    font-weight: 550;
    margin: 0 0.5rem;
    cursor: pointer;
    border-style: solid;
}

.info button:last-child {
    background-color: black;
    color: white;
    border-color: black;

}

.info .btn a {
    display: block;
    padding: 1rem;
}

.button-cont {
    margin: 1rem 0;
}

.about-links {
    display: flex;
    gap: 1rem;
}


.about-2 {
    p {
        color: var(--gray);
        font-size: 1.2rem;
        text-align: center;
    }

    h1 {
        margin-top: 0;
    }

    span {
        display: flex;
        color: var(--gray);
    }
}

.heading {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.college-name {
    gap: 1.4rem;

    span {
        display: block;
    }
}

.edu {
    width: 100%;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        img {
            width: 100px;
        }

        >div {
            width: 100%;

            >div {
                display: flex;
                margin-bottom: 0.5rem;
                justify-content: space-between;

                p {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                span {
                    color: var(--gray)
                }

                ;
            }

            p {
                color: var(--gray);
            }
        }
    }

}

.btn2 {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
}

.white {
    background-color: rgb(242, 242, 242);
    color: black;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.2rem;
        color: var(--gray);
    }
}

.project-cont {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.project-box {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    width: 400px;
    box-shadow: 0 1px 2px rgb(100, 100, 100);
    border-radius: 10px;
    padding: 10px;

    img {
        width: 100%;
        box-shadow: 0 0 5 var(--gray);
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 8px 0 4px 0;
    }

    p {
        color: rgb(39, 39, 39);
        margin-bottom: 4px;
    }

    span {
        display: flex;
        font-size: 0.9rem;
        color: var(--gray);
        margin-bottom: 16px;
    }

    button {
        padding: 7px;
        margin: 6px 0;
        font-size: 0.8rem;
        border-radius: 8px;
        border: none;

    }

    svg {
        width: 1rem;
        height: 1rem;
        fill: white;
    }

    .project-links {
        display: flex;
        gap: 5px;

        button {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.contact {
    >p {
        text-align: center;
        font-size: 1.2rem;
        color: var(--gray);
    }

    .contact-box {
        padding: 2rem 3rem;
        border: 2px solid rgb(170, 170, 170);
        display: flex;
        gap: 2rem;
        font-weight: 450;
        border-radius: 20px;

        .box {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

#moon {
    transform: scale(1.4);
}

.close {
    display: none;
}

.navbar-inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dark {
    background-color: rgb(10, 10, 10);
    color: rgb(249, 249, 249);
    --gray: rgb(220, 220, 220);
    --white: rgb(250, 250, 250);

    .navbar {
        .hamburger {
            .logo {
                span {
                    background-color: var(--gray);
                }
            }
        }

        .logo {
            h1 {
                color: var(--white);
            }
        }

        .links ul a {
            color: var(--white);
        }
    }

    .project-box {
        p {
            color: rgb(180, 180, 180);
        }
    }

    .info button:last-child {
        background-color: rgb(81, 81, 81);
    }

    svg {
        fill: white;
    }

    path {
        fill: white;
    }

    .btn2 {
        background-color: rgb(80, 80, 80);
    }

    .white {
        background-color: rgb(250, 250, 250);
    }

    .navbar .hamburger .ham-links {
        margin: 15px 0;
        background-color: rgb(80, 80, 80);
        color: var(--white);
    }

    .navbar .hamburger .ham-links ul a {
        color: var(--white);
    }
}

.college-image {
    background-image: url(./assets/mitslogo2.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border-radius: 50%;
}

.theme-icon-cont {
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px #b9b8b8;
    cursor: pointer;
}

.navbar .links ul a:active {
    text-decoration: underline;
}

.underline {
    text-decoration: underline !important;
    text-underline-offset: 1rem;
}

.links{
    width: fit-content;
}